# Arquivos de Log e DB
*.log
*.log.*
*.db
*.db-shm
*.db-wal
.ha_run.lock

# Pastas de conteúdo
.cloud
.storage
.cache
deps

# Arquivos e pastas específicas
core
image
custom_components
www
secrets.yaml
home-assistant-backups.txt

# Gitkeep
!.gitkeep

# Blueprints pré-instalados
blueprints/*/homeassistant

